0.Common/Angkor.O7POS.Common.ServiceClient/Service References/PointSaleReference/PointSaleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Angkor.O7POS.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Angkor.O7POS.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSaleLocal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleLocal" nillable="true" type="tns:SaleLocal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleLocal" nillable="true" type="tns:ArrayOfSaleLocal" />
  <xs:complexType name="SaleLocal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleLocal" nillable="true" type="tns:SaleLocal" />
</xs:schema>