0.Common/Angkor.O7POS.ServiceClient/Service References/SecurityReference/SecurityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecurityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55527/SecurityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55527/SecurityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55527/SecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Angkor.O7Common.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SecurityContract_FindCredentials_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCredentials" />
  </wsdl:message>
  <wsdl:message name="SecurityContract_FindCredentials_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityContract_FindWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:FindWorker" />
  </wsdl:message>
  <wsdl:message name="SecurityContract_FindWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindWorkerResponse" />
  </wsdl:message>
  <wsdl:portType name="SecurityContract">
    <wsdl:operation name="FindCredentials">
      <wsdl:input wsaw:Action="http://tempuri.org/SecurityContract/FindCredentials" message="tns:SecurityContract_FindCredentials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SecurityContract/FindCredentialsResponse" message="tns:SecurityContract_FindCredentials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/SecurityContract/FindWorker" message="tns:SecurityContract_FindWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SecurityContract/FindWorkerResponse" message="tns:SecurityContract_FindWorker_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SecurityContract" type="tns:SecurityContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindCredentials">
      <soap:operation soapAction="http://tempuri.org/SecurityContract/FindCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindWorker">
      <soap:operation soapAction="http://tempuri.org/SecurityContract/FindWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityService">
    <wsdl:port name="BasicHttpBinding_SecurityContract" binding="tns:BasicHttpBinding_SecurityContract">
      <soap:address location="http://localhost:55527/SecurityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>