0.Common/Angkor.O7POS.ServiceClient/Service References/SecurityReference/SecurityService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Angkor.O7Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Angkor.O7Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompany" nillable="true" type="tns:ArrayOfCompany" />
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="Branches" nillable="true" type="tns:ArrayOfBranch" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="ArrayOfBranch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Branch" nillable="true" type="tns:Branch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranch" nillable="true" type="tns:ArrayOfBranch" />
  <xs:complexType name="Branch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Branch" nillable="true" type="tns:Branch" />
  <xs:complexType name="Worker">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Companies" nillable="true" type="tns:ArrayOfCompany" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Worker" nillable="true" type="tns:Worker" />
</xs:schema>