0.Common/Angkor.O7POS.ServiceClient/Service References/SecurityReference/SecurityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55527/SecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Angkor.O7Common.Entities" />
  <xs:element name="FindCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Angkor.O7Common.Entities" minOccurs="0" name="FindCredentialsResult" nillable="true" type="q1:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Angkor.O7Common.Entities" minOccurs="0" name="company" nillable="true" type="q2:Company" />
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Angkor.O7Common.Entities" minOccurs="0" name="FindWorkerResult" nillable="true" type="q3:Worker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>